<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/curriculo.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Curriculo</title>
</head>
<body>
    <div class="navbar">
        <div class="container-navbar">
            <img src="../static/imgs/logo.png" alt="logo">
            <a href="./index.html">Home</a>
            <a href="./projetos.html">Projetos</a>
            <a href="./curriculo.html">Currículo</a>
        </div>
    </div>

    <div class="container">
        <div class="box">

            <h1 class="title-box">Kauê dos Santos Francisco</h1>
            
            <h2>Objetivo: Estágio em Desenvolvimento de Software</h2>

            <h2>Experiência Profissional:</h2>
            <ul>
                <li>Atual desde agos./2023 - Estágio curricular, remunerado, na Autaza. 
                    Nessa experiência, desenvolvi habiliades de resolução de problemas,
                    aprendi como funciona uma imagem, como funciona um rede neural artificial.
                    Aprendi a trabalhar em um ambiente dinâmico, onde a comunicação clara e eficaz
                    é fundamental para o sucesso do projeto.
                </li>
                <li>
                    Do período de mar./2022 até jul./2023 - Estágio curricula, remunerado, na Tecsus.
                    Nessa experiência, desenvolvi habilidades de resolução de problemas, trabalho em equipe,
                    resolução de problemas e lógica de programação.
                </li>
            </ul>

            <h2>Formação Acadêmica</h2>
            <ul>
                <li>
                    Tecnólogo em Desenvolvimento de Software Multiplataforma - FATEC 
                    Prof. Jessen Vidal - Em curso - Conclusão previsata para jul./2026.
                </li>
                <li>
                    Técnico em Desenvolvimento de Sistemas - ETEC Ilza Nascimento Pintus -
                    Concluído em jul./2023.
                </li>
            </ul>

            <h2>Qualificações e Atividades Complementares:</h2>
            <ul>
                <li>
                    Inglês básico.
                </li>
                <li>
                    Desenvolvimento de Aplicativos e Jogos - Educa USP.
                </li>
                <li>
                    Conhecimento básicos em Cibersegurança - Novotec.
                </li>
                <li>
                    Montagem e Manutenção de Computadores - Advanced.
                </li>
            </ul>
            
            <h2>Informações Adicionais:</h2>
            <ul>
                <li>
                    Estágio voluntário - ETEC Ilza Nascimento Pintus - Responsável pela manutenção,
                    formatação, instalação de softwares e revisões nos computadores da escola.
                </li>
            </ul>
        </div>

        <div class="box">
            <h1>Informações para contato:</h1>
            <h2>Email: kauesantos.francisco@gmail.com</h2>
            <a  style="text-decoration: none; color: white;" href="https://github.com/Kaue-Francisco" target="_blank "><h2>Github: www.github.com/Kaue-Francisco</h2></a>
            <a style="text-decoration: none; color: white;" href="https://www.linkedin.com/in/kau%C3%AA-francisco-3b13aa255/?originalSubdomain=br" target="_blank"><h2>Linkedin: Kauê Francisco</h2></a>
        </div>
    </div>

    <footer>
        
    </footer>
</body>
</html>