<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Inicio</title>
   
</head>
<body>
    <!-- Barra de navegação -->
    <div class="navbar">
        <div class="container-navbar">
            <img src="../static/imgs/logo.png" alt="logo">
            <a href="./index.html">Home</a>
            <a href="./projetos.html">Projetos</a>
            <a href="./curriculo.html">Currículo</a>
        </div>
    </div>


    <!-- Página inicial -->
    <div class="container">
        <div class="center-msg">
            <h1>Olá</h1>
            <div class="container-emoji">
                <h1 class="emoji">👋</h1>
            </div>
            <h1>, seja bem vindo ao meu portfólio!</h1>
        </div>

        <div class="center">
            <img class="redonda" src="../static/imgs/perfil.png" alt="perfil">
        </div>
            <p>Este é o meu portfólio, um breve espaço para você me 
                conhecer melhor e aos meus projetos pessoais e de estudos. Aqui, 
                você encontrará informações sobre minha trajetória e realizações.</p> 

    </div>

    <div class="container">
        <div class="center-sobre">
            <h1>Sobre Mim:</h1>
        </div>        
        <p>Sou o Kauê tenho 18 anos sou formado em técnico em Desenvolvimento de Sistemas
            pela ETEC Ilza Nascimento Pintus e estou cursando Desenvolvimento de Software Multiplataforma
            na FATEC de São José dos Campos e também sou estágiario em Desenvolvimento de Software na Autaza.</p>
    </div>

    <div class="tecnologias">
        <div class="center-sobre">
            <h1>Tecnologias que tive contanto:</h1>
            <div class="box">
                <img src="../static/imgs/flask.svg" alt="flask">
                <img src="../static/imgs/python.svg" alt="python">
                <img src="../static/imgs/html.svg" alt="flask">
                <img src="../static/imgs/css.svg" alt="flask">
                <img src="../static/imgs/js.svg" alt="flask">
                <img src="../static/imgs/git.svg" alt="flask">
                <img src="../static/imgs/github.svg" alt="flask">
                <img src="../static/imgs/opencv.svg" alt="flask">
                <img src="../static/imgs/arduino.svg" alt="flask">
                <img src="../static/imgs/c.svg" alt="flask">
                <img src="../static/imgs/csharp.svg" alt="flask">
            </div>
        </div>
    </div>

    <footer>
        
    </footer>
</body>
</html>
