<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/projeto.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Projeto</title>
   
</head>
<body>
    <!-- Barra de navegação -->
    <div class="navbar">
        <div class="container-navbar">
            <img src="../static/imgs/logo.png" alt="logo">
            <a href="./index.html">Home</a>
            <a href="./projetos.html">Projetos</a>
            <a href="./curriculo.html">Currículo</a>
        </div>
    </div>


    <!-- Página inicial -->
    <div class="container">
        <div class="center-msg">
            <h1>Projetos Pessoais</h1>
        </div>


        <div class="list-projetos">

            <a style="color: white; text-decoration: None;" target="_blank" href="https://github.com/Kaue-Francisco/ClimateCheck">
            <div class="box">
                <h1 style="margin-left: 10px;">ClimateCheck</h1>
                <div class="box-content">
                    <img src="../static/imgs/climate.png" alt="ClimateCheck">
                    <div class="title-box">
                    <h1>Objetivo:</h1>
                    <p>Realizei este site simples com um amigo, onde seu objetivo é um usuário 
                        preencher o campo cidade e depois retornar o clima da cidade e a descrição 
                        do tempo atual.</p>
                    </div>
                </div>
            </div></a>


            <a style="color: white; text-decoration: None;" target="_blank" href="https://github.com/Kaue-Francisco/Consulte-seu-Cep-PY">
            <div class="box">
                <h1 style="margin-left: 10px;">Consulte-seu-Cep-PY </h1>
                <div class="box-content">
                    <img src="../static/imgs/cep.png" alt="Consule_CEP">
                    <div class="title-box">
                    <h1>Objetivo:</h1>
                    <p>O intuito do projeto é fazer uma consulta de um CEP especificado 
                        e retornar informações sobre ele. Por exemplo, o nome da rua, bairro, 
                        cidade, etc... Usei o framework Python Flask para conseguir fazer, 
                        junto com uma API: <a target="_blank" href="https://docs.awesomeapi.com.br/api-cep">https://docs.awesomeapi.com.br/api-cep</a></p>
                    </div>
                </div>
            </div></a>

            <div class="center-msg">
                <h1>Projetos Acadêmicos</h1>
            </div>

            <a style="color: white; text-decoration: None;" target="_blank" href="https://github.com/Daiene/Pixels"><div class="box">
                <h1 style="margin-left: 10px;" >API</h1>
                <div class="box-content">
                    <img src="../static/imgs/api.png" alt="API">
                    <div class="title-box">
                        <h1>Objetivo:</h1>
                        <p>Este projeto tem como objetivo principal criar um sistema de apoio 
                            para mães que enfrentam a situação desafiadora de ter um filho diagnosticado 
                            com Insuficiência Renal Crônica (IRC). Nossa meta é melhorar a eficácia e a 
                            gestão das informações relacionadas à saúde das crianças com IRC, respeitando 
                            rigorosamente as regulamentações de privacidade.</p>
                    </div>
                </div>
            </div></a>


        </div>
    </div>

    
    <footer>
        
    </footer>
</body>
</html>
