/* Estilos gerais */ 
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
}

.center-msg {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-sobre h1{
    font-size: 24;
    text-align: center;
}

.tecnologias {
    margin: 0 auto;
    padding: 20px;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box {
    max-width: 1000px;
    border-radius: 30px;
    background-color: #1f5f61;
    padding: 15px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.title-box {
    display: block;
}

.box-content {
    display: flex;
}

.box img {
    max-width: 350px;
    max-height: 350px;
    margin: 10px;
}

/* Estilos responsivos */
@media (max-width: 1000px) {
    .container {
        max-width: 500px;
        margin: 0 auto;
        padding: 30px 0;
    }
    
    .navbar {
        text-align: center;
    }
    .navbar a {
        display: block;
        margin-bottom: 10px;
    }

    .container {
        text-align: center;
    }

    .redonda {
        width:150px; 
        height:150px; 
        border-radius: 70px;
    }

    .center-msg {
        font-size: 15px;
    }

    .center-sobre h1{
        text-align: center;
    }

    .box {
        max-width: 600px;
        border-radius: 30px;
        background-color: #1f5f61;
        padding: 15px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .box img {
        max-width: 100px;
        max-height: 100px;
        margin: 8px;
    }
}


/* Estilos responsivos */
@media (max-width: 600px) {
    .center-msg {
        font-size: 12px;
    }

    .container p {
        font-size: 12px;
    }
    .center-sobre h1{
        font-size: 20px;
    }
    .center-sobre p {
        font-size: 15px;
    }

    .box {
        max-width: 300px;
        border-radius: 30px;
        background-color: #1f5f61;
        padding: 15px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .box img {
        max-width: 80px;
        max-height: 80px;
        margin: 6px;
    }
}

@media (max-width: 480px) {
    .container {
        max-width: 300px;
        margin: 0 auto;
        padding: 30px 0;
    }

    .center-msg h1 {
        font-size: 15px;
    }

    .center-sobre h1 {
        font-size: 15px;
    }
}