.welcome-message {
    font-size: 24px;
}

.profile-img {
    max-width: 30%;
    border-radius: 50%;
    margin-top: 20px;
}

.portfolio-text {
    margin-top: 20px;
    font-size: 18px;
}

.container-home {
    margin: 0 auto;
    text-align: center;
    width: 70vw;
}

.sobre {
    margin-top: 7vh;
}

.emoji {
    display: inline-block;
    animation: wave 2s infinite;
}

.box {
    margin: 0 auto;
    max-width: 800px;
    border-radius: 30px;
    background-color: #1f5f61;
    padding: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 8vh;
}

.box img {
    max-width: 20%;
    max-height: 20%;
    margin: 10px;
}

@keyframes wave {
    10%, 20%, 50%, 90%, 100% {
      transform: rotate(0deg);
    }
    40% {
      transform: rotate(-20deg);
    }
    60% {
      transform: rotate(20deg);
    }
  }

@media (max-width:750px) {
    .profile-img {
        max-width: 70%;
        border-radius: 50%;
        margin-top: 20px;
    }
}

@media (max-width:450px) {
    .welcome-message {
        font-size: 18px;
    }
}